body {
	padding-top: 70px;
}


#bodyServicios {
	background-color: white;
	color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background: cover;
	text-align: center;
}
